
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
:root{
    --tam-header: 40px;
    --color-principal: #FC9149;
    --color-secundario: #fff;
    --color-terciario: #117A9F;
}
body {
    margin:0px;
    box-sizing: border-box;
}
.fondo {
    width: 100%;
    opacity: 0.5;
    position: absolute;
    z-index: -1000;
}
header {
    display: flex;
    width: 100%;
    height: var(--tam-header);
    background-color: black;
    color: white;
    justify-content: center;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: "Anton";
    margin-right: 40px;
}
.portada img{
    width: 100%;
    height: calc(100vh - var(--tam-header));
}
