@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
}

.off-canvas-btn {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 999;
    width: 3rem;
    height: 3rem;
    cursor:pointer;
    opacity: 0;
}

.off-canvas-burger{
    position: fixed;
    top: 3rem;
    right: 1rem;
    z-index: 998;
    width: 3rem;
    height: .6rem;
    background-color: black;
    border-radius: .3rem;
    transform: rotate(0deg) translateY(-1.2rem);
    transition:width 0.5s ease,transform 0.5s ease, background-color 0.5s ease;
    transform-origin: top left;
}

.off-canvas-burger::after, .off-canvas-burger::before{
    content: "";
    display: block;
    width: 100%;
    height: .6rem;
    background-color: #d00;
    border-radius: .3rem;
    transition:transform 0.5s ease;
}
.off-canvas-burger::before {
    background-color: black;
    transform: rotate(0deg) translateY(-1rem);
}
.off-canvas-burger::after {
    background-color: black;
    transform: rotate(0deg) translateY(.4rem);
}

.off-canvas-btn:checked + .off-canvas-burger {
    background-color: transparent;
}

.off-canvas-btn:checked + .off-canvas-burger::after {
    width: 3.7rem;
    transform: rotate(45deg) translate(-7px,-0.5rem);
}

.off-canvas-btn:checked + .off-canvas-burger::before {
    width: 3.7rem;
    transform: rotate(-45deg) translate(1px,-0.05rem);
}

.off-canvas-menu {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.692);
    z-index: 997;
    display: flex;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 1.5s;
}
.off-canvas-menu-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.off-canvas-link{
    padding: 2%;
    text-decoration: none;
    color:white;
    text-align: center;
    /* border-bottom: thin solid black; */
    transition: background-color 1s;
}
.off-canvas-link:hover{
    background-color: rgba(255, 0, 0, 0.5);
}

/* .off-canvas-link:first-child{
    border-top:thin solid black;
} */

.off-canvas-btn:checked ~ .off-canvas-menu{
    transform: translateY(0);
}