body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: #0008;
    opacity: 0;
    transition: opacity 1s;
    z-index:1;
}

.VentanaModal {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    border: thin solid black;
    border-radius: 15px;
    overflow: auto;
    background-color: white;
    box-shadow: -3px -8px 71px 12px rgba(0,0,0,0.75); -webkit-box-shadow: -3px -8px 71px 12px rgba(0,0,0,0.75); -moz-box-shadow: -3px -8px 71px 12px rgba(0,0,0,0.75);
}

.VentanaModal p, .VentanaModal h1 {
    text-align: center;
}

.VentanaModal #cerrarVentana{
    position: absolute;
    top:20px;
    right: 30px;
}

#abrirVentana {
    border: 2px solid black;
    border-radius: 15px;
    background-color: yellow;
    width: 300px;
    height: 50px;
    overflow: auto;
    position:relative;
    z-index: 2;
    &:hover{
        cursor:pointer
    }
    text-align: center;
    line-height: 50px;
    top:calc(50vh - 50px);
}

#VentanaModal:target {
    opacity: 1;
    z-index: 3;
}